h2 {
    color: white;
}

.header {
    text-align: center;
    background-color: rgb(0,127,206);
    grid-area: header;
    padding: 1em;
  }

.pages{
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 0.2s;
    transform: scale(0.99);
    will-change: transform;
    user-select: none;
    cursor: pointer;
  }
  
  .pages.active {
    background: rgba(255,255,255,0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }
  
  .page {
    background: skyblue;
    height: 100vh;
    border-radius: 40px;
    margin-top: 10px;
  }

  .page1 {
    background: skyblue;
  }

  .page2 {
    background: pink;
  }

  .page3 {
    background: green;
  }

  .page4 {
    background: purple;
  }

  .page5 {
    background: yellow;
  }
  
  .page6 {
    background: orangered
  }

.column {
    float: left;
    width: 50%;
  }